<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>購物車</title>
    <link rel="stylesheet" th:href="@{/css/cart.css}"/>
    <input type="hidden" id="userName" th:value="${#strings.escapeJavaScript(#authentication.principal.username)}">
    <script th:src="@{/js/cart.js}" th:inline="javascript"></script>
</head>
<body>
<h1>購物車內的商品：</h1>
<table>
    <thead>
    <tr>
        <th>商品名稱</th>
        <th>價格</th>
        <th>數量</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <!-- 使用迴圈來遍歷所有商品及其相關資訊 -->
    <tr th:each="product : ${cart.products}">
        <td th:text="${product.productName}"></td>
        <td th:text="${'$' + product.productPrice}"></td>
        <td>
            <input class="quantity-input" type="number" min="1" max="10" data-product-id="${product.id}"
                   th:value="${cart.productQuantity[__${product.id}__]}">
        </td>
        <td class="action-buttons">
            <button th:data-product-id="${product.id}" onclick="updateQuantity(this.getAttribute('data-product-id'))">
                更新數量
            </button>
            <button class="delete" th:data-product-id="${product.id}"
                    onclick="deleteProduct(this.getAttribute('data-product-id'))">刪除
            </button>
        </td>
    </tr>
    </tbody>
</table>

<!-- 顯示總價 -->
<h2>小計：<span class="total-price" th:text="${'$' + cart.totalPrice}"></span></h2>
<!-- 送出訂單按鈕 -->
<button class="submit-button" onclick="beginCheckout()">開始結帳</button>


</body>
</html>
