<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>結帳</title>
    <link rel="stylesheet" th:href="@{/css/checkout.css}"/>
    <input type="hidden" id="userName" th:value="${#strings.escapeJavaScript(#authentication.principal.username)}">
    <input type="hidden" id="cart" th:attr="data-total-price=${cart.totalPrice}" th:value="${cart}">
    <script th:src="@{/js/checkout.js}" th:inline="javascript"></script>
</head>

<body th:object="${cart}">
<h1>結帳</h1>
<div class="container">
    <div class="section">
        <h2>付款方式</h2>
        <div class="form-group">
            <label for="paymentMethod">選擇付款方式：</label>
            <select id="paymentMethod">
                <option value="cash">現金</option>
                <!-- 你可以在這裡添加其他付款方式選項 -->
            </select>
        </div>

        <h2>運送地址</h2>
        <div class="form-group">
            <label for="shippingAddress">輸入運送地址：</label>
            <input type="text" placeholder="請輸入運送地址" id="shippingAddress">
        </div>

        <h2>折扣碼</h2>
        <div class="form-group">
            <label for="discountCode">輸入折扣碼：</label>
            <input type="text" placeholder="請輸入折扣碼" id="discountCode" oninput="updateDiscount()" >
        </div>

        <button class="submit-button" onclick="submitOrder()">送出訂單</button>
    </div>

    <div class="section">
        <h2>購物車內的商品：</h2>
        <table>
            <thead>
            <tr>
                <th>商品名稱</th>
                <th>價格</th>
                <th>數量</th>
            </tr>
            </thead>
            <tbody>
            <!-- 使用迴圈來遍歷所有購物車商品及其相關資訊 -->
            <tr th:each="product : ${cart.products}">
                <td th:text="${product.productName}"></td>
                <td th:text="${'$' + product.productPrice}"></td>
                <td th:text="${cart.productQuantity[__${product.id}__]}"></td>
            </tr>
            </tbody>
        </table>

        <div class="subtotal">
            <label>小計：</label>
            <span th:text="${'$' + cart.totalPrice}"></span>
        </div>

        <div>
            <label>折扣：</label>
            <span id="discountAmount">¥ 0.00</span>
            <!-- 這裡可以動態顯示折扣金額 -->
        </div>

        <div class="total">
            <label>總計：</label>
            <span id="finalPrice">$0.00</span>
        </div>
    </div>
</div>
</body>
</html>
